/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;600&display=swap');

/*CSS Variables*/
:root{
    --bg-color: #09153E;
    --text-color: #FFFFFF;
    --cont-color: #0D1D54;
}

html{
    background-color: var(--bg-color);
    margin-bottom: 80px;
}

.header{
    width: 800px;
    font-size: 40px;
    font-weight: 600;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

.gridcontainer{
    margin-left: 50px;
    display: grid;
    grid-template-columns: 65% 30%;
    gap: 5%;
    width: 90%;
    padding: 50px;
    padding-top: 10px;
}

.greetings{
    font-size: 50px;
    font-weight: 200;
    margin-left: 30px;
    text-align: left;
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    margin-bottom: 20px;
}

/*** Screen ***/
.screencontainer{
    background-color: var(--cont-color);
    border-radius: 5%;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.screencontainer > .cctvlogo {
    position: absolute;
    top: 26px;
    left: 80px;
  }

.screencontainer > .home{
    color: var(--text-color);
    font-family:'Inter', sans-serif;
    font-size: 36px;
    position: absolute;
    top: -10px;
    left: 140px;
}

.screencontainer > .signal {
    position: absolute;
    top: 26px;
    right: 160px;
  }

  .screencontainer > .live {
    position: absolute;
    top: 38px;
    right: 80px;
  }

  .screencontainer > .status{
    color: var(--text-color);
    font-family:'Inter', sans-serif;
    font-size: 36px;
    position: absolute;
    bottom: -20px;
    left: 80px;
}

.screen{
    position: relative;
    background-color: black;
    top: 25px;
    width: 90%;
    height: 552px;
}

/*** Alert ****************************************/

.alertcontainer{
    background-color: var(--cont-color);
    width: 100%;
    height: 700px;
    border-radius: 5%;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 10px 0;
}


h3{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    color: var(--text-color);
    text-align: center;
    margin: 0;
}

.clock{
    font-size: 65px;
}

.date{
    font-size: 30px;
    margin-bottom: 10px;
    
}

.siren{
    position: absolute;
    top: 14px;
    left: 140px;
}

.ah{
    position: absolute;
    top: 16px;
    left: 200px;
    font-size: 36px;
}


table{
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    width:  1000px;
    margin: 30px auto;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 80%; 
    height: 50%;
    overflow-y: scroll;
  border-collapse: collapse;
  border-spacing: 0;
}

table th{
    padding: 10px 0;
    background-color: var(--bg-color);
    border:  thin solid #d4d4d4;
}

table td{
    padding: 10px;
    border:  thin solid #d4d4d4;
    width: 18%;
    text-align: center;
    background-color: var(--bg-color);
}

table img{
    width:  70%;
}

table td.total-price{
    font-weight: bold;
    font-size: 22px;
}

table a{
    color: var(--text-color);
    line-height: 30px;
    background-color: var(--bg-color);
    padding: 10px 15px;
}

table a:hover{
    color: #FF3838;
}



table select{
    padding: 10px;
    width:  200px;
    font-size: 16px;
    border: thin solid #d4d4d4;
    background-color: transparent;
}

table select:focus{
    outline: none;
}

table img{
    width:  60%;
}

table th{
    background-color: var(--bg-color);
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
    display: none;
  }
  
  /* Define the styles for the scrollbar track */
  ::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }
  
  /* Define the styles for the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 20px;
  }
  
  /* Define the styles for the scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #999;
  }

  table::after, table::before{
    content: "";
    display: block;
    height: 20px;
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--contcolor);
    z-index: -1;
  }

  table::before{
    top: -20px;
  }

  table::after{
    bottom: -20px;
  }
  
